body {
	background-color: #fff3ea;
}

h1 {
	font-size: 4em;
	font-family: 'Poppins', sans-serif;
	margin-top: 0;
}

#index {
	margin-left: 15%;
}

li {
	font-family: 'Poppins', sans-serif;
}

a:link {
    text-decoration: none;
}